# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.xcuserstate
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Archive
*.ipa
*.dSYM.zip
*.dSYM

# Personal notes (not for distribution)
NOTES.md
TODO.md
